body {
    background-color: antiquewhite;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.completed {
  text-decoration: line-through;
  color: gray;
  border: 1px solid gray;
}

#todo-container {
    background-color: white;
    background: flex;
    align-content: center;
    padding: 20px;
    border-radius: 10px;
    width: auto;
}
#Header {
    
    text-align: center;
}
.delete-btn {
    color: whitesmoke;
    background-color: black;
    border-radius: 10px;
    padding: 5px;
    margin-left: 10px;
    margin-top: 10px;
}
.edit-btn {
    color: whitesmoke;
    background-color: black;
    border-radius: 10px;
    padding: 5px;
    margin-left: 10px;
    margin-top: 10px;
}
